annotated-types         
anyio                   
asgiref                 
asttokens               
bcrypt                  
charset-normalizer      
click                   
colorama                
decorator               
Django                  
dnspython               
ecdsa                   
email_validator         
executing               
Faker                   
fastapi                 
greenlet                
h11                     
idna                    
ipython                 
ipython_pygments_lexers 
jedi                    
matplotlib-inline       
mysql-connector-python  
parso                   
passlib                 
pillow                  
pip                     
prompt_toolkit          
pure_eval               
pyaml                   
pyasn1                  
pydantic                
pydantic_core           
Pygments                
PyMySQL                 
python-jose             
python-multipart        
PyYAML                  
reportlab               
rsa                     
six                     
sniffio                 
SQLAlchemy              
sqlparse                
stack-data              
starlette               
traitlets               
typing_extensions       
typing-inspection       
tzdata                  
uvicorn                 
wcwidth                 